Repository Dilshan-H/Oblivion-Inverse, changes with the labels that .github/labeler.yml gives for each.
All labels: Static, Frontend, Backend, Docs

.github/labeler.yml:

# Add 'Static' to any changes within 'static' folder
Static:
  - static/*

# Add 'Frontend' to any file changes related to the frontend
Frontend:
  - templates/*

# Add 'Backend' to any changes to the Backend files
Backend:
  - "*.py"

# Add 'Docs' to new distribution files
Docs:
  - any:
      [
        "docs/*",
        "README.md",
        "LICENSE",
        "CONTRIBUTING.md",
        "CODE_OF_CONDUCT.md",
      ]

Create label.yml
  .github/workflows/label.yml
Labels: none

FIx incorrect messages
  .github/workflows/greetings.yml
Labels: none

Fix an id value
  templates/base.html
Labels: Frontend

Handle env vars with python-dotenv
  app.py
Labels: Backend

Minor path handling change
  app.py
Labels: Backend

spell addition
  cspell.json
Labels: none

Remove obsolete packages
  requirements.txt
Labels: none

sort imports
  routes.py
Labels: Backend

Add code linting - pylint
  .vscode/settings.json
Labels: none

Add app health check route
  routes.py
Labels: Backend

Add 404 template
  templates/404.html
Labels: Frontend

Tweak the title a little
  templates/base.html
Labels: Frontend

Downgrade Flask
  requirements.txt
Labels: none

Downgrade Werkzeug to 2.2.3
  requirements.txt
Labels: none

Update dependencies list
  requirements.txt
Labels: none

Downgrade isort to 5.11.5
  requirements.txt
Labels: none

Downgrade python-dotenv to 0.21.1
  requirements.txt
Labels: none

Update Readme
  README.md
Labels: none

Update cspell file
  cspell.json
Labels: none

Update readme
  README.md
Labels: none

Add logging
  routes.py
Labels: Backend

Update README
  README.md
Labels: none

Update Templates
  templates/base.html
  templates/index.html
  templates/login.html
  templates/temp.html
  templates/track_list.html
  templates/tracking_data.html
Labels: Frontend

Fix email form field
  forms.py
Labels: Backend

Style changes
  static/base.css
  static/hero.webp
Labels: Static

Update and add new features
  app.py
  routes.py
Labels: Backend

Update README
  README.md
Labels: none

Update templates and ui
  static/base.css
  templates/404.html
  templates/base.html
  templates/index.html
  templates/temp.html
  templates/track_list.html
  templates/tracking_data.html
Labels: Static, Frontend

Update Python version to 3.10.12
  runtime.txt
Labels: none

Add new static images
  static/side-cover.png
  static/steps.png
  static/support-banner.png
Labels: Static

Remove test code and commented out code
  routes.py
Labels: Backend

Update README
  README.md
Labels: none

Add test blocks
  app.py
Labels: Backend

Remove test blocks
  app.py
Labels: Backend

Fix deprecated env var
  app.py
Labels: Backend

Add waitress for production environment
  app.py
  requirements.txt
Labels: Backend

Update README
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Fix subject & mail address max lengths
  templates/index.html
  templates/track_list.html
Labels: Frontend

SIGTERM
  README.md
Labels: none
